<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Danh sách sản phẩm</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    /* body {
      background: #f8f9fa;
    }

    #side_nav {
      background: #555555;
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
    } */



    /* .sidebar li.active {
      background: #eee;
      border-radius: 8px;
    }

    .sidebar li.active a,
    .sidebar li.active a:hover {
      color: #000;
    }

    .sidebar li a {
      color: #fff;
    }

    .sidebar li a:hover {
      color: red;
    }


    .info {
      color: #fff;
    }




    .dropdown-menu {
      width: 250px;
    }

    body,
    ul,
    li,
    a {
      margin: 0;
      padding: 0;
      list-style: none;
      text-decoration: none;
    }

    ul {
      padding: 0;
      margin: 0;
    }

    ul.list-unstyled {
      padding-left: 20px;
    }

    ul.list-unstyled li {
      margin-bottom: 10px;
    }

    ul.list-unstyled a {
      display: block;
      padding: 10px;
      color: white;
      border-radius: 30px 0px 0px 30px;
      transition: background-color 0.3s ease;
    }

    ul.list-unstyled a:hover {
      background-color: #eee;
    }

    ul.list-unstyled i {
      margin-right: 10px;
    }

    ul.list-unstyled:last-child {
      margin-top: 20px;
    }


    ul.list-unstyled a i.material-symbols-outlined {
      vertical-align: middle;
    } */
    .dropdown-menu {
      width: 250px;
    }
    #side_nav {
      background: #FFCCFF;
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
    }
    .sidebar li a:hover {
      color: red;
    }
    
    nav {
      padding: 20px;
    }

    nav ul {
      list-style: none;
      padding: 0;
      
    }
    

    nav li {
      margin-bottom: 10px;
    }

    nav li a {
      text-decoration: none;
      color: #00008B;
      display: flex;
      align-items: center;
      padding: 5px;
    }

    .submenu {
      display: none;
      margin-top: 10px;
    }

    nav li:hover .submenu {
      display: block;
    }
  </style>
</head>

<body>






  <div class="sidebar" id="side_nav">


    <div  class="header-box px-2 pt-3 pb-4 d-flex justify-content-between">
      <h1 class="fs-4">
        <span  class="bg-white text-dark rounded shadow px-2 me-2">HERO   SHOP</span>
      </h1>
    </div>

    <!-- <ul  class="list-unstyled kt-menu__nav">
      <li class=""><a href="/home" class="text-decoration-none px-3 py-2 d-block" role="link">
          Home</a></li>
      <li class=""><a href="/services" class="text-decoration-none px-3 py-2 d-block" role="link">
          Dịch vụ</a></li>
      <li class=""><a href="/product" class="text-decoration-none px-3 py-2 d-block" role="link">
          Sản phẩm</a></li>
      <li class=""><a href="/bookings" class="text-decoration-none px-3 py-2 d-block">
          Đặt lịch</a></li>
      <li class=""><a href="/notifications" class="text-decoration-none px-3 py-2 d-block">
          notifications</a></li>
      <li class=""><a href="/nguoidung" class="text-decoration-none px-3 py-2 d-block">
          nguoi dung</a></li>
      <li class=""><a href="/revenue/monthly" class="text-decoration-none px-3 py-2 d-block">
          doanh thu theo thang </a></li>
      <li class=""><a href="/doanhthu" class="text-decoration-none px-3 py-2 d-block">
          Doanh thu</a></li>
      <li class=""><a href="/doanhthusp" class="text-decoration-none px-3 py-2 d-block">
          Doanh thu sản phẩm</a></li>
      </li>


      <li class=""><a href="/HoaDon" class="text-decoration-none px-3 py-2 d-block">
          Hóa đơn</a></li>


      <li class="kt-menu__item kt-menu__item--submenu kt-menu__item--open">
        <a href="">
          <span class="kt-menu__link-text">con casa</span>
          <i class="kt-menu__ver-arrow la la-angle-right"> </i>
        </a>
        <div class="kt-menu__submenu">
          <ul class="kt-menu__subnav">
            <li class="kt-menu__item">
              <a class="kt-menu__link" href="">hah</a>
            </li>
            <li class="kt-menu__item">
              <a class="kt-menu__link" href="">hah2</a>
            </li>
            <li class="kt-menu__item">
              <a class="kt-menu__link" href="">hah3</a>
            </li>
          </ul>
        </div>
      </li>
    </ul> -->

    <nav>
      <ul>
        <li class=""><a href="/home"  role="link">
          <img width="20" height="20" style="margin-right: 10px;" src="https://img.icons8.com/hieroglyphs/32/home.png" alt="home"/>
            Trang chủ</a></li>
        <li class=""><a href="/services" role="link">
          <img width="20" height="20" style="margin-right: 10px;" src="https://img.icons8.com/wired/64/dog-paw-print.png" alt="dog-paw-print"/>
            Dịch vụ</a></li>
        <li class=""><a href="/product" role="link">
          <img width="20" height="20" style="margin-right: 10px;" src="https://img.icons8.com/ios/50/product.png" alt="product"/>
            Sản phẩm</a></li>
        <li class=""><a href="/bookings">
          <img width="20" height="20" style="margin-right: 10px;" src="https://img.icons8.com/ios/50/event-accepted.png" alt="event-accepted"/>
            Đặt lịch</a></li>
        <li class=""><a href="/notifications">
          <img width="20" height="20" style="margin-right: 10px;" src="https://img.icons8.com/ios/50/appointment-reminders--v1.png" alt="appointment-reminders--v1"/>
            Thông báo</a></li>
        <li class=""><a href="/nguoidung">
          <img width="20" height="20" style="margin-right: 10px;" src="https://img.icons8.com/ios/50/user.png" alt="user"/>
            Người dùng</a></li>

        </li>
        <li class=""><a href="/HoaDon">
          <img width="20" height="20" style="margin-right: 10px;" src="https://img.icons8.com/ios/50/bill.png" alt="bill"/>
            Hóa đơn</a></li>
        <li style="color: #00008B;"  class="">
         
          <img width="20" height="20" style="margin-right: 10px;" src="https://img.icons8.com/ios-glyphs/50/economic-improvement.png" alt="economic-improvement"/>
          Doanh thu 
          <ul class="submenu">
            <li class=""><a href="/revenue/monthly" class="text-decoration-none px-3 py-2 d-block">
                Theo tháng </a></li>
            <li class=""><a href="/doanhthu" class="text-decoration-none px-3 py-2 d-block">
                Dịch vụ</a></li>
            <li class=""><a href="/doanhthusp" class="text-decoration-none px-3 py-2 d-block">
              Sản phẩm</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>











  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>